{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins":[
    // 设置legacy为true时，可以使用之前的api，
    // 如果没有设置，在装饰方法时的三个入参target, name, descriptor, 只能获取到descriptor

    // decoratorsBeforeExport 和 legacy 不能同时设置
    // "decoratorsBeforeExport"和legacy必须设置一种

    // When using the legacy: true mode, 在@babel/plugin-proposal-class-properties插件之前
    // @babel/plugin-proposal-class-properties must be used in loose mode to support the @babel/plugin-proposal-decorators


    // ["@babel/plugin-proposal-decorators", {
    //   // "decoratorsBeforeExport": true,
    //   "legacy": true
    // }]
    // ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    // ["@babel/plugin-transform-arrow-functions"]
    "@babel/plugin-proposal-nullish-coalescing-operator", // 可选链 ?.
    "@babel/plugin-proposal-optional-chaining" // A ?? B
  ]
}
